*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background: white;
}

.menu{
    font-family: Segoe UI;
    list-style: none;
    padding: 0;
    background: black;
    width: 100%;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 2rem 3rem;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #6579EB;
}


.descripcion {
    font-size: 18px;
}

.galeria{
    font-family: 'ope sans';
}

.linea{
    border-top: 5px solid #0077C0;
}

.contenedor-imagenes{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

contenedor-imagenes .imagen{
    
    width: 33%;
    position: relative;
    margin-bottom: 5px;
    height: 250px;
    margin-bottom: 5px;
    position: relative;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
   
}  
.imagen img{
    
    height: 100%;
    object-fit:cover;
    position: relative;
}

.overlay{
    position: absolute;
    bottom: 80;
    left: 100;
    background: #0077C0;
    color: white;
        
}
.piePagina {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 95%;
    height: 15%;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
