.ventana{
    background: #3366ff;
    width: 50%;
    color:rgba(255,255,255,1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 3%;
    min-height: 250px;
    border-radius: 22px;
    position: absolute;
    left:60%;
    top:10%;
    display:none;
}

.formulario{
    width: 50%;
    position: absolute;
    left:03%;
    top: 20%;
}

.footer{
    width: 100%;
    position: absolute;
    left:0%;
    top: 100%;
}