body {
    font-family: "Lato", sans-serif;
}

.main-head {
    height: 150px;

}

.sidenav {
    height: 50%;
    overflow-x: no-display;
    padding-top: 40px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

@media screen and (max-width: 450px) {
    .login-form {
        margin-top: 50%;
    }

    .register-form {
        margin-top: 5%;
    }
}

@media screen and (min-width: 768px) {
    .main {
        margin-left: 40%;
    }

    .sidenav {
        width: 40%;
        position: absolute;
        z-index: 1;
        top: 15%;
        left: 0;
    }

    .login-form {
        margin-top: 0%;
        margin-left: 20%;
    }

    .register-form {
        margin-top: 5%;
    }
}

.login-main-text {
    margin-top: 7%;
    padding: 60px;
    color: rgb(5, 5, 5);
}

.login-main-text h2 {
    font-weight: 300;
    color: whitesmoke;
}

.btn-black {
    background-color: #000 !important;
    color: #fff;
}

.form-group {
    margin-bottom: 10px;
}

.login {
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    color: whitesmoke;
    padding-left: 50px;
}