<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <title>Plantilla_Proyecto</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <link rel="stylesheet" th:href="@{/css/index.css}">
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:fragment="header" class="header">
            <nav class="navbar navbar-expand-lg bg-dark">
                <div class="container-fluid" >
                    <form method="POST" th:action="@{/logout}">
                        <a href="#" onclick="this.parentNode.submit();" class="nav-link">
                            <i class="fas fa-user-times"></i> [[#{plantilla.logout}]]
                        </a>
                    </form>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="nav nav-pills nav-fill">
                            <li class="nav-item">             
                                <small>.</small>
                                <a class="nav-link active" style= "color:white" aria-current="page" th:href="@{/index}">HOME</a>
                                <small>.</small>
                            </li>
                            <li class="nav-item">
                                <small>.</small>
                                <a class="nav-link" style= "color:white" th:href="@{/cliente/galeria}"
                                   th:text="#{menu.galeria}">GALERÍA</a>
                            </li>
                            <li class="nav-item">
                                <small>.</small>
                                <a class="nav-link" style= "color:white" th:href="@{/nuevoComentario}"
                                   th:text="#{menu.contacto}">CONTACTO</a>
                            </li>
                            <li class="nav-item">
                                <small>.</small>
                                <a class="nav-link" style= "color:white" th:href="@{/cliente/acercaDe}"
                                   th:text="#{menu.acercaDe}">ACERCA DE</a>
                            </li>
                            <li class="nav-item">
                                <small>.</small>
                                <a class="nav-link" style= "color:white" th:href="@{/cliente/terminosCondiciones}"
                                   th:text="#{menu.terminos}">TÉRMINOS Y CONDICIONES</a>
                            </li>
                            <li class="nav-item">
                                <small>...............................................</small>
                            </li>
                            <li class="nav-item" sec:authorize="hasRole('ROLE_CLIENTE')">
                                <small>.</small>
                                <a class="nav-link" style= "color:yellow" th:href="@{/cliente/login}">LOGIN</a>
                            </li>
                            <li class="nav-item" sec:authorize="hasRole('ROLE_CLIENTE')">
                                <small>.</small>
                                <p style= "color:yellow">|</p>
                            </li>                            
                            <li class="nav-item">
                                <small>.</small>
                                <a class="nav-link" style= "color:yellow" th:href="@{/cliente/register}"
                                   th:text="#{menu.registrarse}">REGISTRARSE</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
            <div class="container text-center">
                <div class="container">
                    <div class="col"> 
                        <small class="lead text-center" style= "color:white">
                            &COPY [[#{plantilla.derechos}]]
                            <a th:href="@{/index(lang=es)}">ES</a>
                            <a th:href="@{/index(lang=en)}">EN</a>
                            <br>
                            <a class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"
                               th:href="@{/}" style= "background: red"
                               th:text="#{menu.administrar}">
                                ADMINISTRAR PÁGINA
                            </a>
                        </small>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>