<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <title>Galeria_Proyecto</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <link href="css/estiloContacto.css" rel="stylesheet" type="text/css"/>
    </head>
    <header th:replace="layout/plantilla::header"></header>

    <body>
        <div class="formulario">
            <form th:action="@{/guardarComentario}"
                  method="post"
                  th:object="${comentario}">
                <br>
                <div class="mb-3">
                    <input type="hidden" name="id" th:field="*{id}"/>
                    <label for="nombre" class="form-label"><strong>Nombre:</strong></label>
                    <input type="text" name="nombre" th:field="*{nombre}" class="form-control" id="exampleFormControlInput1" placeholder="Digite su nombre">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label"><strong>Email</strong></label>
                    <input type="email" name="email" th:field="*{email}" class="form-control" id="exampleFormControlInput1" placeholder="Digite su email">
                </div>
                <div class="mb-3">
                    <label for="opinion" class="form-label"><strong>Comentario</strong></label>
                    <textarea class="form-control" name="opinion" th:field="*{opinion}" placeholder="Ingrese el comentario" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="d-grid gap-2 d-md-block">
                    <section id="contenedor">
                        <a href="javascript:abrir()">
                            <button class="btn btn-primary me-md-2" type="button" style="background: black">
                                Enviar
                            </button>
                        </a>
                        <div class="ventana" id="llamar">
                            <div class="d-grid gap-2 d-md-block">
                                Seguro que deseas enviar el mensaje:
                                <br>
                                <br>
                                <input type="submit" name="guardar"  class="btn btn-primary me-md-2" style="background: black" 
                                       value="Guardar"/>
                                <a th:href="@{/nuevoComentario}">
                                    <button class="btn btn-primary me-md-2" type="button" style="background: black">
                                        Cancelar
                                    </button>
                                </a>
                            </div>
                        </div>
                        <a th:href="@{/nuevoComentario}">
                            <button class="btn btn-primary me-md-2" type="button" style="background: black">
                                Reset
                            </button>
                        </a>
                    </section>
                </div>
                <br><br>
                <a class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"
                   th:href="@{/administrador/comentarios}" style= "background: red"
                   th:text="#{menu.comentarios}">
                    VER COMENTARIOS
                </a>
            </form>
            <br>
            <script>
                function abrir(){
                document.getElementById("llamar").style.display="block";
                }
            </script>    
    </div>
        <div class="footer">
            <footer th:replace="layout/plantilla::footer"></footer>
        </div>      
    </body>
</html>