<!DOCTYPE html>
<html lang="es">

<head th:replace="layout/plantilla::head"></head>
<header th:replace="layout/plantilla::header"></header>

<body>
    <div class="contenedor-imagenes">
        <div class="imagen">
            <img src="images/AUDI.jpg" alt="" />
        </div>

        <div class="imagen">
            <img src="images/BMW.jpg" alt="" />
        </div>


        <div class="imagen">
            <img src="images/HONDA.jpg" alt="" />
        </div>


        <div class="imagen">
            <img src="images/HYUNDAI.png" alt="" />
        </div>


        <div class="imagen">
            <img src="images/LEXUS.png" alt="" />
        </div>


        <div class="imagen">
            <img src="images/MITSUBISHI.jpg" alt="" />
        </div>


        <div class="imagen">
            <img src="images/TOYOTA.png" alt="" />
        </div>


        <div class="imagen">
            <img src="images/TOYOTA2.png" alt="" />
        </div>


        <div class="imagen">
            <img src="images/TOYOTA3.png" alt="" />
        </div>


        <div class="imagen">
            <img src="images/VOLVO.jpg" alt="" />
        </div>

        <div class="imagen">
            <img src="images/PORTADA_1.png" alt="" />
        </div>

        <div class="imagen">
            <img src="images/HYUNDAI ACCENT.jpg" alt="" />
        </div>

</body>
<footer th:replace="layout/plantilla::footer"></footer>
</html>